.about{
     color: rgb(70, 70, 123);
     padding:20px 10px;
     margin: 10px 0px;
}

.about h1{
     text-align: center;
     font-size: 3rem;
     margin: 24px 0px;
}
.about p{
     padding:  20px 40px;
     font-size: 1.5rem;
}
.about span{
     font-size: 2rem;
}