#root{
     margin:36px 200px;
     padding: 30px 60px;
     background-color: white;
     border-radius: 60px;
     border: 2px solid #d4afaf;
}
button{
     cursor: pointer;
}


   textarea::-webkit-scrollbar {
     width: 12px;
   }
 
   textarea::-webkit-scrollbar-thumb {
     background-color: rgb(143, 142, 212);
   }
 
   textarea::-webkit-scrollbar-track {
     background-color: rgb(255, 215, 215);
   }