body {
     background-color: rgb(237, 228, 228);
}

a {
     font-weight: 500;
     color: #534b83;
     text-decoration: inherit;
}

a:hover {
     color: #382f5c;
}

footer {
     border-top: 1px solid #007d9354;
     text-align: center;
     padding-top: 1rem;
     margin-top: 3rem;
     font-size: 0.8rem;
}
