.newbook{
     margin: 40px 40px 20px 40px;
     color: rgb(70, 70, 123);
}
.bookInput{
     display: flex;
}
.newbook-navigation-btn{
    display: flex;
    justify-content: center;
    /* margin:8px 26px; */
}
.newbook-navigation-btn button{
     margin: 0px 10px;
     background-color: rgb(70, 70, 123);
     color: rgb(255, 240, 240);
     padding: 10px ;
     border-radius: 12px;
     font-size: 1rem;
     border-color:rgb(119, 119, 202);
     transition: background-color 0.4s ease-in-out;
}
.newbook-navigation-btn button:hover{
     background-color:rgb(84, 84, 143) ;
}
.bookInputImg img{
     height: 520px;
     width:390px;
     border-radius: 32px;
     border: 6px solid rgb(252, 199, 199);
     display: block;
}

.newbook-item{
     margin:4px 24px;
}
.newbook p{
     font-family: 'Fredoka',serif;
     font-size: 1.2rem;
}

.newbook .inp-div{
     margin: 14.5px 10px;
}
.newbook p{
     margin: 0px 10px 6px 6px;
     font-size: 1.3rem;
}
.newbook input ,.newbook textarea{
     color: rgb(70, 70, 123);
     background-color: rgb(255, 240, 240);
     border: 2px solid rgb(111, 111, 186);
     padding: 4px 10px;
     /* margin: 4px; */
     font-weight: 300;
     border-radius: 8px;
     font-size: 1.2rem;
     width: 100%;
}

.newbook select {
     color: rgb(70, 70, 123);
     background-color: rgb(255, 240, 240);
     border: 2px solid rgb(111, 111, 186);
     padding: 8px 10px;
     margin: 4px 8px;
     border-radius: 8px;
     font-size: 01rem;
     width: 20%;
     cursor: pointer;
     text-align: center;
}
.newBook-title{
     margin:0px 10px 14.5px 10px;
}