.bookspg {
     padding: 20px 10px;
     margin: 10px 0px;
}

.bookspg-item h1 {
     text-align: center;
     font-size: 3rem;
}

.bookspg-item {
     padding: 40px 30px;
     font-size: 1.3rem;
     color: rgb(70, 70, 123);
}

.bookspg-item input {
     color: rgb(70, 70, 123);
     background-color: rgb(255, 240, 240);
     border: 2px solid rgb(111, 111, 186);
     padding: 9px 10px;
     margin: 4px;
     border-radius: 8px;
     font-size: .92rem;
     margin: 8px;
}

.clear {
     /* border: 0px; */
     margin: 5px 10px;
     background-color: rgb(70, 70, 123);
     color: rgb(255, 240, 240);
     padding: 10px ;
     border-radius: 12px;
     font-size: .92rem;
     border-color:rgb(119, 119, 202);
}

::placeholder {
     color: rgba(70, 70, 123, 0.637);
}

.filters {
     display: flex;
}

.filter-item{
     padding: 0px 10px;
}

.bookspg-item select {
     color: rgb(70, 70, 123);
     background-color: rgb(255, 240, 240);
     border: 2px solid rgb(111, 111, 186);
     padding: 8px 10px;
     margin: 4px 8px;
     border-radius: 8px;
     font-size: 01rem;
     cursor: pointer;
}

ul.books {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     flex-wrap: wrap;
     gap: 10px;
}

ul.books li {
     flex: 1 0 26%;
     padding: 6px 0px;
}

ul.books li a {
     align-items: center;
     display: flex;
     flex-direction: column;
}

ul.books img {
     height: 260px;
     width: 190px;
     border-radius: 22px;
     border: 4px solid rgb(70, 70, 123);
     margin: 8px 0px;
     padding: 4px;
     display: block;
     /* border: 2px solid red; */
     /* Outer border color */
     box-shadow: 0 0 0 3px rgb(255, 196, 196);
     transition: scale 0.4s ease-in-out;
}

ul.books h3 {
     text-align: center;
     font-weight: 300;
     font-size: 1.4rem;
     transition: scale 0.4s ease-in-out;
}
ul.books img:hover,ul.books li a h3:hover{
     scale: 1.08;
}
.bookspg-item img{
     height: 250px;
     /* margin-left: 400px; */
     position: absolute;
     top: 140px;
     right: 300px;
}

   